
@media only screen and (min-width:769px){
    header{
        nav{
            width: 80%;
            margin: auto;
            justify-content: space-between;
            padding-top: 10px;
            img{
                width: 120px;
            }
            .texto-bienvenida{
                display: block;
            }
        }
    }
    section{
        padding-bottom: 70px;
        .question{
            font-size: 24px;
            &.exito{
                font-size: 40px;
                padding-bottom: 20px;
            }
        }
        .steps{
            width: 80%;
            padding-top: 50px;
            .circle_steps{
                .box-button{
                    height: 130px;
                    .circle{
                        height: 50px;
                        width: 50px;
                        line-height: 2.1;
                        font-size: 24px;
                    }
                    span{
                        padding-top: 20px;
                        color: $grey;
                        line-height: 1.2;
                        display: block;
                    }
                }
            }
        }
        .type {
            padding-left: 15px;
            padding-right: 15px;
            p{
                font-size: 24px;
            }
            a{
                height: 90px;
                margin: 40px 0;
                font-size: 24px;
            }
        }
        form{
            .ud{
                font-size: 26px;
            }
            .campo{
                label, p{
                    font-size: 20px;
                }
                input, textarea{
                    font-size: 18px;
                }
                input{
                    height: 65px;
                }
            }
            .form-buttons{
                display: flex;
                justify-content: space-between;
                a, .submit{
                    width: 330px;
                    height: 65px;
                    line-height: 2;
                }
                
            }
        }
    }
    footer{
        height: 90px;
        .logo{
            flex-direction: row;
            width: 80%;
            margin: auto;
            justify-content: flex-start;
            p{
                margin-left: 30px;
            }
        }
    }
}
