footer{
    flex: 0;
    align-self: flex-end;
    background-color: $yellow;
    height: 100px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    .logo{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p{
          font-size: 14px;
          margin-top: 5px;
          color: $black;
      }
    }
  }