section {
  padding-bottom: 50px;
  flex: 3;
  .question {
    text-align: center;
    font-size: 16px;
    &.exito {
      font-size: 24px;
      font-family: $bold;
    }
  }
  .steps {
    position: relative;
    width: 95%;
    min-width: 200px;
    margin: auto;
    padding-top: 35px;
    padding-bottom: 10px;
    .circle {
      background-color: $light-grey;
      color: $dark-grey;
    }
    .circle_steps {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .box-button {
        width: 33.33%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        flex-direction: column;
        text-align: center;
        .circle {
          height: 48px;
          width: 48px;
          border-radius: 100%;
          font-family: $bold;
          line-height: 2.7;
          z-index: 1;
        }
        span {
          display: none;
        }
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          top: 25px;
          left: -50%;
          background-color: $grey;
        }
        &.active {
          span {
            color: $yellow;
          }
          .circle {
            background-color: $yellow;
            color: $black;
          }
          &::before {
            background-color: $yellow;
          }
        }
      }
      > :first-child::before {
        display: none;
      }
    }
  }
  .type {
    padding-top: 70px;
    p {
      color: $white;
      font-size: 16px;
      margin-bottom: 30px;
    }
    a {
      font-size: 15px;
      color: $yellow;
      font-family: $regular;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      border: 1px solid $yellow;
      border-radius: 10px;
      margin: 20px 0;
      padding-left: 20px;
      padding-right: 20px;
      transition: 0.3s;
      i {
        color: $yellow;
      }
      &:hover {
        background-color: $yellow;
        color: $black;
        & i{
          color: $black;
        }
      }
    }
  }
  form {
    padding: 0 15px 0;
    .informacion {
      padding-top: 35px;
    }
    .ud {
      font-size: 20px;
      font-family: $semiBold;
    }
    .campo {
      padding-top: 10px;
      label,
      p {
        font-size: 16px;
        position: relative;
        span {
          color: $yellow;
        }
      }
      p {
        padding-bottom: 8px;
      }
      .check {
        padding-top: 10px;
        padding-bottom: 10px;
        input[type="radio"]:checked,
        input[type="radio"]:not(:checked) {
          position: absolute;
          left: -9999px;
        }
        input[type="radio"]:checked + label,
        input[type="radio"]:not(:checked) + label {
          position: relative;
          padding-left: 40px;
          padding-top: 2px;
          cursor: pointer;
        }
        input[type="radio"]:checked + label:before,
        input[type="radio"]:not(:checked) + label:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 25px;
          height: 25px;
          border-radius: 100%;
          background: $white;
        }
        input[type="radio"]:checked + label:before {
          background-color: $yellow;
        }
        input[type="radio"]:checked + label:after,
        input[type="radio"]:not(:checked) + label:after {
          content: "";
          width: 14px;
          height: 14px;
          background: $black;
          position: absolute;
          top: 5.5px;
          left: 5.5px;
          border-radius: 100%;
          transition: all 0.2s ease;
        }
        input[type="radio"]:not(:checked) + label:after {
          opacity: 0;
          transform: scale(0);
        }
        input[type="radio"]:checked + label:after {
          opacity: 1;
          transform: scale(1);
        }
        .error + label::before {
          border: 3px solid $red;
        }
      }
      input,
      textarea,
      select {
        border-radius: 10px;
        margin-top: 5px;
        padding: 15px;
        color: $black;
        display: block;
        font-size: 16px;
        width: 100%;
        &::placeholder {
          color: $grey;
        }
        &.error {
          border: 2px solid $red;
        }
      }
      option {
        color: $black;
      }
      input {
        height: 50px;
      }
      textarea {
        // &::-webkit-scrollbar{
        //     display: none;
        // }
      }
    }
    .item-required {
      font-size: 12px;
      margin-top: 10px;
      span {
        font-size: 12px;
        color: $yellow;
      }
      &.complete {
        color: $red;
        display: none;
      }
    }
    .form-buttons {
      padding-top: 20px;
      a,
      .submit {
        width: 100%;
        padding: 15px;
        font-family: $bold;
        border: 1px solid $yellow;
        border-radius: 10px;
        margin: 10px 0;
        cursor: pointer;
      }
      a {
        display: block;
        text-align: center;
        background-color: $black;
        color: $yellow;
      }
      .submit {
        background-color: $yellow;
        color: $black;
        appearance: none;
      }
    }
  }
}

.message {
  text-align: center;
  color: $white;
  width: 70%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  .gracias {
    font-family: $extraBold;
    margin-bottom: 20px;
    font-size: 32px;
  }
  p {
    font-size: 28px;
    line-height: 1.2;
  }
}
.class-error {
  background-color: red;
}
