<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        //- link(rel="stylesheet", href="css/bootstrap.css")
        link(rel="shortcut icon", href="img/favicon-32x32.png" type="image/x-icon")
        link(rel="stylesheet", href="css/style.css")
        title Aureolab, Cotiza gratis con nosotros
        //- Facebook Pixel Code
        script.
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '531087721271144');
            fbq('track', 'PageView');
        noscript
            img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=531087721271144&ev=PageView&noscript=1')
        //- <!-- End Facebook Pixel Code -->
    body.body
        include includes/header
        include includes/form-persona
        include includes/footer
        script(type='text/javascript').
            var _ss = _ss || [];
            _ss.push(['_setDomain', 'https://koi-3QNIUCP47S.marketingautomation.services/net']);
            _ss.push(['_setAccount', 'KOI-440KM5FIXU']);
            _ss.push(['_trackPageView']);
            window._pa = window._pa || {};
            // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
            // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
            // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
            (function() {
            var ss = document.createElement('script');
            ss.type = 'text/javascript'; ss.async = true;
            ss.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'koi-3QNIUCP47S.marketingautomation.services/client/ss.js?ver=2.4.0';
            var scr = document.getElementsByTagName('script')[0];
            scr.parentNode.insertBefore(ss, scr);
            })();
    script(src="js/plugins/jquery-3.4.1.min.js")
    script(src="js/plugins/jquery.validate.min.js")
    script(src="js/app.js")
    script.
      var __ss_noform = __ss_noform || [];
      __ss_noform.push(['baseURI', 'https://app-3QNIUCP47S.marketingautomation.services/webforms/receivePostback/MzawMDE3NTEzAwA/']);
      __ss_noform.push(['form', 'person', '764c8080-b1ab-454f-8c1a-850da49cf848']);
      __ss_noform.push(['submitType', 'manual']);
    script(src="https://koi-3QNIUCP47S.marketingautomation.services/client/noform.js?ver=1.24")
