-
    var serviciosPersona = [
        "Quiero crear un proyecto digital desde cero",
        "Necesito seguir desarrollando mi platafoma",
        "Necesito Consultoría digital",
        "Necesito Consultoría TI"
    ]

    var etapas = [
        "Tengo sólo la idea",
        "Tengo el prototipo diseñado",
        "Estoy desarrollando mi plataforma (MVP)",
        "Ya tengo mi plataforma lanzada y operativa",
        "Otro"
    ]

    var semejanzaOpciones = [
        "Plataforma de última milla",
        "Red Social",
        "Marketplace",
        "E-commerce",
        "Plataforma de operaciones",
        "Plataforma de soporte",
        "Plataforma de rrhh",
        "Plataforma de finanzas",
        "Otro"
    ]

    var medioOpciones = [
        "Facebook",
        "Instagram",
        "Linkedin",
        "Referido",
        "Google",
        "Otro"
    ]

section
    .container
        include info
        .steps
            .bar
            .circle_steps
                a(href="index.html").box-button.active
                    .circle 1
                    span Tipo de negocio
                a(href="persona-natural.html").box-button.active
                    .circle 2
                    span Información del solicitante
                .box-button
                    .circle 3
                    span Confirmación
        .business
            form(action="" id="person")
                .informacion 
                    .ud ¿Qué servicio buscas cotizar con nosotros?
                    #servicioPersona.campo
                        .select
                            select(id="servicioPersona" name="servicioPersona" required)
                                option(value="" disabled selected) Seleccione una opción
                                each servicioPersona in serviciosPersona
                                    option(value=servicioPersona) #{servicioPersona}
                .informacion 
                    .ud Cuéntanos en que etapa está tu proyecto
                    #etapaStartup.campo
                        .select
                            select(id="etapa" name="etapa" required)
                                option(value="" disabled selected) Seleccione una opción
                                each etapa in etapas
                                    option(value=etapa) #{etapa}
                    #otraEtapa.campo.hidden
                        label(for="otraEtapa") Por favor especifique
                        input( type="text" name="otraEtapa" id="otraEtapa")
                .informacion
                    .ud ¿Con cuál de estas opciones asemejas tu proyecto?
                    .campo
                        .select
                            select(id="semejanza" name="semejanza" required)
                                option(value="" disabled selected) Seleccione una opción
                                each semejanza in semejanzaOpciones
                                    option(value=semejanza) #{semejanza}
                    #otraOpcion.campo.hidden
                        label(for="otraOpcion") Por favor especifique
                        input( type="text" name="otraOpcion" id="otraOpcion")
                .informacion
                    .ud Algunos datos sobre ti
                    .campo
                        label(for="nombre") Nombres y apellidos #[span *]
                        input(placeholder="Ej: Elon Musk" type="text" name="nombre" id="nombre" minlength="2" required)
                    .campo
                        label(for="email") Correo electrónico #[span *]
                        input(placeholder="Ej: elon@tesla.com" type="email" name="email" id="email" required)
                    .campo
                        label(for="phone") Número de teléfono y/o celular #[span *]
                        input(placeholder="Ej: +569 8765 4321" type="text" name="phone" id="phone" required)
                .informacion
                    .ud Sobre tu proyecto
                    .campo
                        p Tienes un presupuesto o estas pensando levantar inversión para tu proyecto de: #[span *]
                        .check
                            input(type="radio" name="presupuesto" value="Menos de 25000 UF" id="hasta25000" required)
                            label(for="hasta25000")  Menos de 25.000 usd
                        .check
                            input(type="radio" name="presupuesto" value="25000 a 45000" id="hasta45000")
                            label(for="hasta45000") 25.000-45.000 usd
                        .check
                            input(type="radio" name="presupuesto" value="más de 45000" id="mas45000")
                            label(for="mas45000") Más de 45.000 usd
                    .campo
                        label(for="detalles") Por favor, detalla los requerimientos de tu startup #[span *]
                        textarea(name="detalles" id="detalles" rows="5" required)
                .informacion
                    .ud ¿Cómo te enteraste de nosotros?
                    .campo
                        .select
                            select(id="medio" name="medio" required)
                                option(value="" disabled selected) Seleccione una opción
                                each medio in medioOpciones
                                    option(value=medio) #{medio}
                    #otroMedio.campo.hidden
                        label(for="otroMedio") Por favor especifique
                        input( type="text" name="otroMedio" id="otroMedio")

                .item-required #[span *] Campos obligatorios
                .form-buttons
                    a.back(href="index.html") Atrás
                    button.submit(type="submit")#submitPerson Enviar
        
