-
  var servicios = [
        "Quiero desarrollar un software a medida para mi empresa",
        "Necesito Consultoría digital",
        "Necesito Consultoría TI"
    ]
  
  var industrias = [
    "Acuicultura",
    "Aeroespacial y aviación",
    "Agricultura",
    "Alimento",
    "Automovil",
    "Consultoría",
    "Educación",
    "Energía",
    "Financieros",
    "Ingeniería y Construcción",
    "Manufactura",
    "Minería",
    "Productos químicos",
    "Retail",
    "Salud",
    "Software y tecnologías",
    "Transporte y Logística",
    "Otros"
  ]


section
    .container
        include info
        .steps
            .bar
            .circle_steps
                a(href="index.html").box-button.active
                    .circle 1
                    span Tipo de negocio
                a(href="empresas.html").box-button.active
                    .circle 2
                    span Información del solicitante
                .box-button
                    .circle 3
                    span Confirmación
        .business
            form(action="" id="company")
                .servicio 
                    .ud ¿Qué servicio buscas cotizar con nosotros?
                    #servicio.campo
                        .select
                            select(id="servicio" name="servicio" required)
                                option(value="" disabled selected) Seleccione una opción
                                each servicio in servicios
                                    option(value=servicio) #{servicio}
                .informacion
                    .ud Información del solicitante
                    .campo
                        label(for="nombre") Nombres y apellidos #[span *]
                        input(placeholder="Ej: Elon Musk" type="text" name="nombre" id="nombre" minlength="2" required)
                    .campo
                        label(for="email") Correo electrónico corporativo #[span *]
                        input(placeholder="Ej: elon@tesla.com" type="email" name="email" id="email" required)
                    .campo
                        label(for="phone") Número de teléfono y/o celular #[span *]
                        input(placeholder="Ej: +569 8765 4321" type="text" name="phone" id="phone" required)
                .informacion
                    .ud Información de la empresa
                    .campo
                        label(for="empresa") Nombre de la empresa u organización #[span *]
                        input(placeholder="Ingresa el nombre de la empresa u organización" type="text" name="empresa" id="empresa" minlength="2" required)
                    .campo
                        p Número de colaboradores #[span *]
                        .check
                            input(type="radio" name="employees" value="1 a 10 colaboradores" id="hasta10" required)
                            label(for="hasta10") 1 - 10 colaboradores
                        .check
                            input(type="radio" name="employees" value="10 a 50 colaboradores" id="hasta50" )
                            label(for="hasta50") 10 - 50 colaboradores
                        .check
                            input(type="radio" name="employees" value="Más de 50" id="masDe50" )
                            label(for="masDe50") 50 o más colaboradores
                    #industry-field.campo
                        p Industria #[span *]
                        .select
                            select(id="industria" name="industria" required)
                                option(value="" disabled selected) Seleccione una opción
                                each industria in industrias
                                    option(value=industria) #{industria}
                    #other-industry-field.campo.hidden
                        label(for="other-industry") Por favor especifique
                        input( type="text" name="other-industry" id="other-industry")
                .informacion
                    .ud Sobre tu proyecto
                    .campo
                        p Presupuesto estimado #[span *]
                        .check
                            input(type="radio" name="presupuesto" value="Menos de 200 UF" id="hasta200" required)
                            label(for="hasta200") Menos de 25.000 usd
                        .check
                            input(type="radio" name="presupuesto" value="200 a 600 UF" id="hasta600" )
                            label(for="hasta600") 25.000-45.000 usd
                        .check
                            input(type="radio" name="presupuesto" value="Más de 600 UF" id="mas600" )
                            label(for="mas600") Más de 45.000 usd
                    .campo
                        label(for="detalles") Por favor, detalla tus requerimientos de desarrollo #[span *]
                        textarea(name="detalles" id="detalles" rows="5" required)
                .item-required #[span *] Campos obligatorios
                .form-buttons
                    a.back(href="index.html") Atrás
                    button.submit(type="submit")#submitCompany Enviar
