section
    .container
        .question "¡Solicitud enviada con éxito!"
        .steps
            .bar
            .circle_steps
                a(href="index.html").box-button.active
                    .circle 1
                    span Tipo de negocio
                a(href="empresas.html").box-button.active
                    .circle 2
                    span Información del solicitante
                .box-button.active
                    .circle 3
                    span Confirmación
        .thanks
            .message
                .gracias ¡Gracias!
                p En breve te contactaremos