section
    .container
        include info
        .steps
            .bar
            .circle_steps
                a(href="javascript:void(0)").box-button.active
                    .circle 1
                    span Tipo de negocio
                .box-button
                    .circle 2
                    span Información del solicitante
                .box-button
                    .circle 3
                    span Confirmación
        .type 
            p Cuéntanos un poco más de ti:
            a(href="empresas.html") Tengo o trabajo en una empresa
                i.fas.fa-chevron-right
            a(href="persona-natural.html") Quiero crear o tengo una startup
                i.fas.fa-chevron-right
